In [4]:
import json, pandas as pd

file = 'fpl_2023_2024.json'

with open(file, 'r') as file:
    fpl_data = json.load(file)

# The data above has many information, but we are only interested with the players('elements'). So we are going
# to separate it into the player table, with few columns which we are interested with 
# and sort by value season
fpl_data = json.dumps(fpl_data)
players_info = pd.json_normalize(json.loads(fpl_data), 'elements', sep='_')

columns_to_be_used = [
    'first_name', 
    'second_name',
    'web_name',  # name that appears on the team sheet
    'now_cost', # current price, multiply with 0.1
    'total_points', # 2024/25 cumulative points
    'ict_index',  # influence, creative, threat, the higher the better
    'team',       # player club
    'points_per_game',
    'starts',      # no of times player made into the starting eleven
    'element_type',  # player position (1 = GK, 2 = DEF, 3 = MID, 4 = FWD)
    'value_season'   # points produced in relation to player cost, in other words return on investment (ROI). The higher the better.
]

players_info_with_selected_columns = players_info[columns_to_be_used]
players_info_with_selected_columns[['value_season', 'ict_index', 'points_per_game']] = players_info_with_selected_columns[['value_season','ict_index', 'points_per_game']].apply(pd.to_numeric) 
players_table = players_info_with_selected_columns.sort_values(by='value_season', ascending=False)
players_table.head(100)

C:\Users\colly\AppData\Local\Temp\ipykernel_9424\4161230514.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  players_info_with_selected_columns[['value_season', 'ict_index', 'points_per_game']] = players_info_with_selected_columns[['value_season','ict_index', 'points_per_game']].apply(pd.to_numeric)

,first_name,second_name,web_name,now_cost,total_points,ict_index,team,points_per_game,starts,element_type,value_season
289,Cole,Palmer,Palmer,63,244,327.7,7,7.2,29,3,38.7
331,Jean-Philippe,Mateta,Mateta,51,165,192.1,8,4.7,25,4,32.4
372,Jordan,Pickford,Pickford,48,153,101.3,9,4.0,38,1,31.9
484,Carlton,Morris,Morris,47,146,183.4,12,3.8,32,4,31.1
27,Declan,Rice,Rice,55,165,216.2,1,4.3,37,3,30.0
...,...,...,...,...,...,...,...,...,...,...,...
753,Dejan,Kulusevski,Kulusevski,67,130,260.2,18,3.6,31,3,19.4
391,Alex,Iwobi,Iwobi,53,102,175.8,10,3.2,27,3,19.2
109,Illia,Zabarnyi,Zabarnyi,44,84,91.5,3,2.3,37,2,19.1
505,Thomas,Kaminski,Kaminski,45,86,111.8,12,2.3,38,1,19.1
796,Emerson,Palmieri dos Santos,Emerson,43,82,121.8,19,2.3,35,2,19.1

In [5]:
# Interesting results above, huh?
# let's sort by total points
players_table_sorted_by_total_points = players_info_with_selected_columns.sort_values(by='total_points', ascending=False)
players_table_sorted_by_total_points.head(100)

,first_name,second_name,web_name,now_cost,total_points,ict_index,team,points_per_game,starts,element_type,value_season
289,Cole,Palmer,Palmer,63,244,327.7,7,7.2,29,3,38.7
530,Phil,Foden,Foden,85,230,348.8,13,6.6,33,3,27.1
64,Ollie,Watkins,Watkins,89,228,302.7,2,6.2,37,4,25.6
17,Bukayo,Saka,Saka,88,226,375.7,1,6.5,35,3,25.7
532,Erling,Haaland,Haaland,143,217,303.3,13,7.0,29,4,15.2
...,...,...,...,...,...,...,...,...,...,...,...
25,Oleksandr,Zinchenko,Zinchenko,50,104,100.4,1,3.9,20,2,20.8
391,Alex,Iwobi,Iwobi,53,102,175.8,10,3.2,27,3,19.2
103,Marcos,Senesi,Senesi,44,102,119.6,3,3.3,26,2,23.2
479,Alfie,Doughty,Doughty,43,101,213.1,12,2.7,34,2,23.5
358,Dominic,Calvert-Lewin,Calvert-Lewin,58,101,154.8,9,3.2,26,4,17.4

In [6]:
# let's sort by ICT index
players_table_sorted_by_ict_index = players_info_with_selected_columns.sort_values(by='ict_index', ascending=False)
players_table_sorted_by_ict_index.head(100)

,first_name,second_name,web_name,now_cost,total_points,ict_index,team,points_per_game,starts,element_type,value_season
17,Bukayo,Saka,Saka,88,226,375.7,1,6.5,35,3,25.7
554,Bruno,Borges Fernandes,B.Fernandes,85,166,351.2,14,4.7,35,3,19.5
530,Phil,Foden,Foden,85,230,348.8,13,6.6,33,3,27.1
447,Mohamed,Salah,Salah,134,211,346.0,11,6.6,28,3,15.7
289,Cole,Palmer,Palmer,63,244,327.7,7,7.2,29,3,38.7
...,...,...,...,...,...,...,...,...,...,...,...
138,Vitaly,Janelt,Janelt,52,93,135.2,4,2.4,37,3,17.9
187,Kaoru,Mitoma,Mitoma,64,74,134.0,5,3.9,15,3,11.6
139,Mathias,Jensen,Jensen,52,98,130.6,4,3.1,27,3,18.8
836,Max,Kilman,Kilman,44,82,130.2,20,2.2,38,2,18.6
545,JoÅ¡ko,Gvardiol,Gvardiol,52,123,129.7,13,4.4,26,2,23.7

In [7]:
from pulp import LpProblem, LpVariable, LpMaximize, lpSum, LpStatus
model = LpProblem(name="FantasyFootbal", sense=LpMaximize)

players_json = players_info_with_selected_columns.to_dict(orient='records')

players_vars = {i: LpVariable(name=f"player_{i}", cat="Binary") for i in range(len(players_json))}

#objective function
model += lpSum(
    players_vars[i] * (
        players_json[i]['total_points'] * 0.5 +
        players_json[i]['ict_index'] * 0.3 +
        players_json[i]['value_season'] * 0.1 + 
        players_json[i]['starts'] * 0.1
    )
    for i in range(len(players_json))
)

#budget constraint
budget = 1000
model += lpSum(players_vars[i] * players_json[i]['now_cost'] for i in range(len(players_json))) <= budget

# team composition
model += lpSum(players_vars[i] for i in range(len(players_json)) if players_json[i]['element_type'] == 1) == 2 # two goalkeepers
model += lpSum(players_vars[i] for i in range(len(players_json)) if players_json[i]['element_type'] == 2) == 5 # 5 defenders
model += lpSum(players_vars[i] for i in range(len(players_json)) if players_json[i]['element_type'] == 3) == 5 # 5 midfielders
model += lpSum(players_vars[i] for i in range(len(players_json)) if players_json[i]['element_type'] == 4) == 3 # 3 forwards

# team size
model += lpSum(players_vars.values()) == 15

# max 3 players per club
for team_id in range(1, 21):
    model += lpSum(players_vars[i] for i in range(len(players_json)) if players_json[i]['team'] == team_id) <= 3

# solve the problem
status = model.solve()
print(LpStatus[status])

selected_players = [players_json[i] for i in range(len(players_json)) if players_vars[i].value() == 1]

element_type_to_position = {
    1: 'GK',
    2: 'DEF',
    3: 'MID',
    4: 'FWD'
}

selected_players_table = pd.DataFrame(selected_players)

selected_players_table['element_type'] = selected_players_table['element_type'].map(element_type_to_position)

selected_players_table["Player Name"] = selected_players_table["web_name"]
selected_players_table["Price"] = selected_players_table["now_cost"]
selected_players_table["Total points"] = selected_players_table["total_points"]
selected_players_table["ICT"] = selected_players_table["ict_index"]
selected_players_table["Starts"] = selected_players_table["starts"]
selected_players_table["ROI"] = selected_players_table["value_season"]
selected_players_table["Position"] = selected_players_table["element_type"]

columns = [
    "Player Name",
    "Price",
    "Total points",
    "ICT",
    "Starts",
    "ROI",
    "Position",
    "element_type"
]

total_row = {
    "Player Name" : "Total",
    "Price" : selected_players_table["Price"].sum(),
    "Total points" : selected_players_table["Total points"].sum(),
    "ICT": '',
    "Starts": '',
    "ROI": '',
    "Position": ''
}

selected_players_table = pd.concat([selected_players_table, pd.DataFrame([total_row])], ignore_index=True)

selected_players_table[columns].sort_values(by='element_type').drop(columns=['element_type']).reset_index(drop=True)

Optimal

    Player Name  Price  Total points    ICT Starts   ROI Position
0         White     61           182  159.0     35  29.8      DEF
1      Andersen     47           121  142.8     38  25.7      DEF
2     Tarkowski     46           117  151.1     38  25.4      DEF
3       Doughty     43           101  213.1     34  23.5      DEF
4   Pedro Porro     59           136  210.0     35  23.1      DEF
5       Watkins     89           228  302.7     37  25.6      FWD
6       Solanke     69           175  272.7     37  25.4      FWD
7     J.Alvarez     64           158  273.3     31  24.7      FWD
8      Pickford     48           153  101.3     38  31.9       GK
9         Onana     50           133  120.2     38  26.6       GK
10         Saka     88           226  375.7     35  25.7      MID
11       Palmer     63           244  327.7     29  38.7      MID
12        Foden     85           230  348.8     33  27.1      MID
13  B.Fernandes     85           166  351.2     35  19.5      MID
14          Son    100           213  304.4     34  21.3      MID
15        Total    997          2583